---
import context from 'src/context';
import { PencilIcon } from '@components/icons';

const { githubPath } = context.get();
---

<footer class="border-t dark:border-slate-800/80 py-12 mt-12 text-xs flex items-center">
  <div>
    Docs powered by
    <a
      class="opacity-75 hover:opacity-100 transition"
      href="https://invertase.io?utm_source=docspage"
      target="_blank"
      rel="noopener"
    >
      invertase
    </a>
    /
    <a
      class="opacity-75 hover:opacity-100 transition"
      href="https://docs.page"
      target="_blank"
      rel="noopener"
    >
      docs.page
    </a>
  </div>
  {
    githubPath && (
      <div class="flex flex-1 justify-end">
        <a
          class="inline-flex items-center gap-1 opacity-75 transition hover:opacity-100"
          href={githubPath}
          target="_blank"
        >
          <span class="h-4 w-4">
            <PencilIcon />
          </span>
          <span>Edit page</span>
        </a>
      </div>
    )
  }
</footer>
