:root {
  --primary: var(--primary-light);
  --primary-lighter: var(--primary-light-lighter);
  --background: var(--background-light);
}

html[data-theme="dark"] {
  color-scheme: dark;
  --primary: var(--primary-dark);
  --primary-lighter: var(--primary-dark-lighter);
  --background: var(--background-dark);
}

/* Apply theme based variables */
:root {
  --docsearch-primary-color: hsl(var(--primary));
  --docsearch-modal-background: hsl(var(--background)) !important;
  --docsearch-footer-background: hsl(var(--background)) !important;
  --docsearch-container-background: hsl(var(--background) / 0.9) !important;
  --docsearch-key-gradient: linear-gradient(
    90deg,
    hsl(var(--primary) / 0.1),
    hsl(var(--primary-dark) / 0.05)
  ) !important;

  --shiki-background: #222226;
  --shiki-foreground: #fff;
  --shiki-token-constant: #6ee7b7;
  --shiki-token-string: #6ee7b7;
  --shiki-token-comment: #71717a;
  --shiki-token-keyword: #7dd3fc;
  --shiki-token-parameter: #f9a8d4;
  --shiki-token-function: #c4b5fd;
  --shiki-token-string-expression: #6ee7b7;
  --shiki-token-punctuation: #e4e4e7;
}

/* Override the zoom image overlay to be transparent, allowing the component background colour to apply */
[data-rmiz-modal-overlay="visible"] {
  background-color: transparent !important;
}

/* Override the default NProgress styles */
#nprogress .bar {
  background: hsl(var(--primary)) !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary)) !important;
}

pre.shiki code .diff {
  transition: background-color 0.5s;
  margin: 0 -17px;
  padding: 0 17px;
  width: calc(100% + 33px);
  display: inline-block;
}

pre.shiki code .diff:before {
  position: absolute;
  left: 3px;
}

pre.shiki code .diff.add:before {
  content: "+";
  color: #6ee7b7;
}

pre.shiki code .diff.remove:before {
  content: "-";
  color: #f9a8d4;
}

pre.shiki span.line.diff.add {
  background-color: #2c3a2c;
}

pre.shiki code .diff.remove {
  background-color: #421e27;
}

pre.shiki code .highlighted {
  background-color: #363941;
  transition: background-color .5s;
  margin: 0 -17px;
  padding: 0 17px;
  width: calc(100% + 33px);
  display: inline-block;
}

pre.shiki.has-focused .line:not(.focused) {
  filter: blur(.095rem);
  opacity: .4;
  transition: filter .35s, opacity .35s;
}

pre.shiki.has-focused .line:not(.focused) {
  opacity: .7;
  transition: filter .35s, opacity .35s;
}

pre.shiki.has-focused:hover .line {
  filter: blur(0);
  opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
