/**
 * DocSearch CSS Overrides
 */

:root {
  --docsearch-searchbox-background: #fbfbfb;
  --docsearch-highlight-color: var(--theme-color);
  --docsearch-modal-background: #fbfbfb;
}

html.dark {
  --docsearch-modal-background: rgb(39 39 42);
  --docsearch-footer-background: rgb(39 39 42);
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-muted-color: #d1d5db;
  --docsearch-text-color: #fff;
  --docsearch-key-gradient: #000;
}

.DocSearch-Button {
  margin: 0;
  height: 32px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 0.25rem;
}

html.dark .DocSearch-Button {
  border: 1px solid #374151;
}

html.dark .DocSearch-Button:hover {
  border: 1px solid #4b5563;
}

.DocSearch-Search-Icon {
  width: 16px;
  height: 16px;
}

.DocSearch-Button-Placeholder {
  font-size: 12px;
}

html.dark .DocSearch-Button-Key {
  box-shadow: none;
  font-size: 13px;
  align-items: center;
}

html.dark .DocSearch.DocSearch-Container {
}
