.prose :where(code)::before {
    content: none;
}
  
.prose :where(code)::after {
    content: none;
}

aside {
    overflow-x: hidden;
}

#nprogress .bar {
    background: var(--theme-color) !important;
}