---
import { PencilIcon } from '@components/icons';
---

<footer class="border-t dark:border-slate-800/80 py-12 mt-12 text-sm flex items-center">
  <div>
    <a
      class="opacity-50 hover:opacity-75 transition"
      href="https://docs.page"
      target="_blank"
      rel="noopener"
    >
      Powered by docs.page
    </a>
  </div>
  <div class="flex-1 flex justify-end">
    <a
      class="opacity-50 hover:opacity-75 transition inline-flex items-center gap-1"
      href="/todo"
      target="_blank"
    >
      <span class="w-4 h-4"><PencilIcon /></span>
      <span>Edit this page</span>
    </a>
  </div>
</footer>
