@font-face {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('/_docs.page/webfonts/cal-sans/CalSans-SemiBold.woff2') format('woff2'),
    url('/_docs.page/webfonts/cal-sans/CalSans-SemiBold.woff') format('woff'),
    url('/_docs.page/webfonts/cal-sans/CalSans-SemiBold.ttf') format('truetype');
}

:root {
  --primary: var(--primary-light);
  --background: var(--background-light);
  
  --shiki-background: #222226;
  --shiki-foreground: #fff;
  --shiki-token-constant: #6ee7b7;
  --shiki-token-string: #6ee7b7;
  --shiki-token-comment: #71717a;
  --shiki-token-keyword: #7dd3fc;
  --shiki-token-parameter: #f9a8d4;
  --shiki-token-function: #c4b5fd;
  --shiki-token-string-expression: #6ee7b7;
  --shiki-token-punctuation: #e4e4e7;
}

html[data-theme='dark'] {
  color-scheme: dark;
  --primary: var(--primary-dark);
  --background: var(--background-dark);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
