/* https://google-webfonts-helper.herokuapp.com/fonts/anton?subsets=latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('/_docs.page/fonts/anton/anton-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/_docs.page/fonts/anton/anton-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/_docs.page/fonts/anton/anton-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/_docs.page/fonts/anton/anton-v12-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/_docs.page/fonts/anton/anton-v12-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/_docs.page/fonts/anton/anton-v12-latin-regular.svg#Anton')
      format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background: #ffffff;
  --dark-background: #202528;
}

@layer base {
  body {
    --background: var(--light-background);
    background-color: var(--light-background);
  }

  body.dark {
    --background: var(--dark-background);
    background-color: var(--dark-background);
  }

  body.dark pre::-webkit-scrollbar {
    width: 14px;
  }

  body.dark pre::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }
}

pre.shiki {
  @apply mt-0 !rounded;
}

.shiki-parent.shiki-parent-title pre {
  @apply !rounded-tr-none !rounded-tl-none;
}

/* DocSearch doesn't play nice with Normalize.css, so some custom style overrides are required */
.DocSearch-Screen-Icon svg {
  @apply mx-auto;
}

.dark .DocSearch-NoResults {
  @apply text-white;
}

.DocSearch-NoResults-Prefill-List {
  @apply mt-8 text-center;
}