/* https://google-webfonts-helper.herokuapp.com/fonts/anton?subsets=latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/anton/anton-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/anton/anton-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/anton/anton-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/anton/anton-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/anton/anton-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/anton/anton-v12-latin-regular.svg#Anton') format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background: #ffffff;
  --dark-background: #202528;
}

@layer base {
  body {
    --background: var(--light-background);
    background-color: var(--light-background);
  }

  body.dark {
    --background: var(--dark-background);
    background-color: var(--dark-background);
  }
}

/* DocSearch doesn't play nice with Normalize.css, so some custom style overrides are required */
.DocSearch-Screen-Icon svg {
  @apply mx-auto;
}

.dark .DocSearch-NoResults {
  @apply text-white;
}

.DocSearch-NoResults-Prefill-List {
  @apply mt-8 text-center;
}

/* Add some styles from any remark-admonitions HTML output */
.admonition {
  @apply mb-4 p-6 text-gray-800 rounded-lg shadow;
}

.admonition h5 {
  @apply flex items-center uppercase font-medium text-lg mb-4;
  @apply text-gray-800 !important;
}

.admonition h5 svg {
  @apply w-6 h-6;
}

.admonition p {
  @apply m-0 !important;
}

.admonition h5 .admonition-icon {
  @apply inline-block mr-2;
}

.admonition-note {
  @apply bg-gray-100 dark:bg-white;
}
.admonition-tip {
  @apply bg-blue-400;
}
.admonition-info {
  @apply bg-green-500;
}
.admonition-caution {
  @apply bg-yellow-400;
}
.admonition-danger {
  @apply bg-red-400;
}
