@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white;
  }
  body.dark {
    @apply bg-gray-900;
  }

  /* Removes any top margin from pre-tags if a title present */
  pre.code-block-title {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
