---
import '@docsearch/css';
---

<div id="#docsearch"></div>
<script>
  import docsearch from '@docsearch/js';

  docsearch({
    container: '#docsearch',
    appId: 'R2IYF7ETH7',
    apiKey: '599cec31baffa4868cae4e79f180729b',
    indexName: 'docsearch',
  });
</script>
