---
type Props = {
  appId: string;
  apiKey: string;
  indexName: string;
};

const { appId, apiKey, indexName } = Astro.props;
---

<div data-docsearch data-appId={appId} data-apiKey={apiKey} data-indexName={indexName}></div>
<script>
  import docsearch from '@docsearch/js';

  const element = document.querySelector('div[data-docsearch]') as HTMLDivElement;

  docsearch({
    container: element,
    appId: element.dataset.appid!,
    indexName: element.dataset.indexname!,
    apiKey: element.dataset.apikey!,
  });
</script>
