---
import { MoonIcon, SunIcon } from './icons';
---

<button data-theme-toggle class="relative w-6 h-6 transition-opacity hover:opacity-75">
  <span data-theme-type="dark" class="hidden"><MoonIcon /></span>
  <span data-theme-type="light" class="hidden"><SunIcon /></span>
</button>
<script>
  import type { Context } from 'src/context';
  const { owner, repository, domain, ref } = (window as any).docs_page as Context;
  const html = document.documentElement;
  const isDark = () => html.getAttribute('data-theme') === 'dark';

  const toggle = document.querySelector('button[data-theme-toggle]')!;
  const light = toggle.querySelector('span[data-theme-type="light"]') as HTMLSpanElement;
  const dark = toggle.querySelector('span[data-theme-type="dark"]') as HTMLSpanElement;

  function toggleElements() {
    if (isDark()) {
      light.style.display = 'none';
      dark.style.display = 'inline';
    } else {
      dark.style.display = 'none';
      light.style.display = 'inline';
    }
  }

  toggle.addEventListener('click', () => {
    const theme = isDark() ? 'light' : 'dark';
    // Update the theme attribute on the <html> element
    theme === 'light'
      ? html.removeAttribute('data-theme')
      : html.setAttribute('data-theme', 'dark');
    // Toggle the icons
    toggleElements();
    // Update the theme via server and return a cookie
    fetch('/api/docs.page/theme', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        owner,
        repository,
        ref,
        domain,
        theme,
      }),
    });
  });

  toggleElements();
</script>
